body{
    text-align:center;
    background-color: lightcoral;
}

#camera{
    width:500px;
    height:350px;
    border-radius:8px;
    border-style: dashed;
    border-color:black;
}

.heading{
    background-color: aquamarine;
    width:500px;
    height:100px;
}
h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}





